@model Exercise_9.Entity.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    
    <hr />
    <dl class="row">  
        <div>
             <a class="design2" asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> 
             <a class="design2" asp-action="Index">Back to List</a>
        </div>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.Image" width="100"; height="100"> 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caliber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caliber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chronograph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chronograph)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thickness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thickness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jewely)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jewely)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrapMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrapMaterial)
        </dd>
    </dl>
</div>

